:root {
    --size-list: 60px;
    --display: flex;
}
.cambio-root {
    --size-list: 20vw;
    --display: none;
}
body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 118.3% 68.3%, #008f63 0, #009074 3.33%, #009084 6.67%, #009094 10%, #0090a4 13.33%, #0090b3 16.67%, #008fc0 20%, #008ecd 23.33%, #008cd7 26.67%, #008ae0 30%, #0087e7 33.33%, #0083eb 36.67%, #007fed 40%, #007aed 43.33%, #0075ea 46.67%, #486ee5 50%, #6d67de 53.33%, #885fd5 56.67%, #9e56ca 60%, #af4dbd 63.33%, #be44af 66.67%, #c93ca1 70%, #d23491 73.33%, #d82f82 76.67%, #db2d72 80%, #dd2e62 83.33%, #dc3353 86.67%, #d93a44 90%, #d44235 93.33%, #ce4b26 96.67%, #c65314 100%);
    background: center center cover no-repeat fixed;
}
h1,h2 {
    color: #efbbbe;
    margin: 3px 0;
    /* margin-block-start: 0em;
    margin-block-end: 0em; */
}
.center {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    /* align-items: center; */
    /* text-align: center; */
}
.list {
    display: flex;
    flex-direction: column;
    width: var(--size-list);
    height: calc(100vh - 40px);
    background-color: rgb(184 197 220 / 45%);
    top: 0;
}
.btn-list {
    width: var(--size-list);
    background-color: rgb(184 197 220 / 0%);
    border: none;
    height: 60px;
}
.btn-list:hover {
    background-color: rgb(184 197 220 / 45%);
}
.btn-list:focus {
    outline: none;
}
#listas-a {
    padding: 0;
}
ul {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center ;
    margin: 0;
    overflow: scroll;
}
ul::-webkit-scrollbar {
    display: none;
}
li {
    width: 90%;
    list-style: none;
    cursor: pointer;
    background-color: rgb(184 197 220 / 50%);
    margin: 4px 0;
    padding: 4px 2px;
    border-radius: 5px;
    font: outline;
}
a {
    display: inline-block;
    width: 95%;
    /* background-color: red; */
    margin: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    /* overflow-y: visible; */
}
.orientacion-cap {
    display: var(--display);
    justify-content: center;
    align-items: center;
    width: var(--size-list);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 18px;
    margin-top: 30px;
}
.content {
    display: flex;
    width: calc(100vw - var(--size-list));
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.menu {
    width: 100%;
    height: 40px;
    background-color: rgb(184 197 220 / 45%);
    display: flex;
    align-items: center;
    position: relative;
}
.cerrar-sesion {
    position: absolute;
    right: 20px;
    background-color: rgb(184 197 220 / 45%);
    padding: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.cerrar-sesion:hover {
    background-color: #55cdf1;
}
.cerrar-sesion:focus {
    outline: none;
}
.left {
    position: absolute;
    right: calc(20px + 120px);
}
.controls-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
#skip {
    position: absolute;
    right: 30px;
    bottom: 20%;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(184 197 220 / 90%);
    font-size: 1em;
    user-select: none;
}
#skip:hover {
    background-color: rgb(185 197 220 / 70%);
}
#skip:focus {
    outline: none;
}
.button {
    margin: 0 20px;
    background-color: transparent;
    box-shadow: 1px 1px 20px 2px black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: rgba(255, 0, 0, 0.473);
}
.contenedor-video {
    /* width: 530px; */
    position: relative;
    width: calc(100vw - var(--size-list) - 400px);
    height: calc(100vw/3);
}
#video {
    /* max-width: 530px; */
    max-width: calc(100vw - var(--size-list) - 400px);
    width: 100%;
    height: calc(100vw/3);
}
.fixed-center {
    display: flex;
    background-color: #008ed5ce;
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    color: white;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.invisible {
    display: none;
}
.remarcar {
    background-color: #7ab2c9ec;
}
@media (max-width: 600px) {
    :root {
        --size-list: 0px;
    }
    h2 {
        font-size: calc(4px + 3vw)
    }
    body {
        height: 100vh;
    }
    .controls-video {
        flex-direction: column;
        width: 100vw;
    }
    .contenedor-video {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        height: auto;
    }
    .contenedor-video {
        /* width: 530px; */
        position: relative;
        width: calc(100vw);
        height: calc(80vw);
    }
    #video {
        /* max-width: 530px; */
        max-width: calc(100vw);
        width: 100%;
        height: calc(80vw);
    }
    #skip {
        position: absolute;
        right: 30px;
        bottom: 30%;
        user-select: none;
        font-size: .8em;
    }
    .button {
        display: inline;
        margin-top: 2vh;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
    .list {
        /* display: flex; */
        display: flex;
        flex-direction: row;
        position: fixed;
        /* bottom: 10; */
        /* top: calc(100vh - 121px); */
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 60px;
        /* background-color: red; */
    }
    .btn-list {
        /* background-color: green; */
        width: 100vw;
    }
    .orientacion-cap {
        /* display: var(--display); */
        display: none;
    }
    .video-z {
        z-index: -1;
    }
    .mostrar-lista-resp {
        /* display: fixed; */
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 60px;
        background-color: rgba(104, 93, 93, 0.918);
        z-index: 3;
    }
    .cambio-color-boton {
        background-color:  #4e9bb9ec;
    }
}